@font-face {
    font-family: 'Pokemon Solid';
    src: url('PokemonSolidNormal.woff2') format('woff2'), url('PokemonSolidNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#title {
    font-family: 'Pokemon Solid';
    color: darkgoldenrod;
    animation: grow 1s;
    border: black;
}

#title:hover {
    color: gold;
    transform: scale(1.2x);
}

body {
    background-image: url('https://i.imgur.com/HddtBOT.png');
    background-size: cover;
}